<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categoria</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="h-100 bg-success p-2">
    <img src="/icon/logomanager.png" alt="logomanager" style="width: 70px; height: 70px;">
    <a class="h6 text-decoration-none" th:href="@{/}" style="color: white; margin: 0 15px;">Dashboard</a>
    <a class="h6 text-decoration-none" th:href="@{/lancamento}" style="color: white; margin: 0 15px;">Realizar
        Lançamento</a>
    <a class="h6 text-decoration-none" th:href="@{/categoria}" style="color: white; margin: 0 15px;">Categoria</a>
    <a class="h6 text-decoration-none" th:href="@{/historicotransacao}" style="color: white; margin: 0 15px;">Histórico
        de Transação</a>
</div>
</body>
</html>
<!--
<div class="container" style="padding: 30px 30px 7px 30px">
    <div>
        <h2 style="color: #198754; padding: 7px 10px 7px 10px;">Gerenciamento de Categorias</h2>
    </div>

    <form id="categoriaForm" method="post">
        <div class="border border-secondary rounded">
            <div>
                <h3 class="bg-success text-white p-2 rounded"> Adicionar Nova Categoria</h3>
            </div>
            <div class="row m-3">
                <label class="col-sm-4 col-form-label">Nome da Categoria: </label>
                <div class="col-sm-8">
                    <input type="text" id="nome" class="form-control" required>
                </div>
            </div>
            <div class="row m-3">
                <label class="col-sm-4 col-form-label">Tipo da Categoria: </label>
                <div class="col-sm-8">
                    <select class="form-select" id="tipo" name="tipo" required>
                        <option value="RECEITA">Receita</option>
                        <option value="DESPESA">Despesa</option>
                    </select>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-sm-12 text-start">
                    <button type="submit" class="btn btn-success">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/script/scriptRecebeValores.js"></script>

-->
